numpy
hydra-core
wandb
pytorch-holo
poli-core @ git+https://github.com/MachineLearningLifeScience/poli.git
poli-baselines[lambo2] @ git+https://github.com/MachineLearningLifeScience/poli-baselines.git@main
levenshtein
